*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:16px 200px;
    background-color: #1A0B2E;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    


}

.logo{
    width: 219px;
    height: 32px;
    border: 1px solid rgba(0,0,0,1);

}
.menu-list{
    width: 218px;
    height: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.menu li{
    list-style: none;
    font-size: medium;
    
}

.menu li a{
    text-decoration: none;
    color: white;
}

.btn{
    border: none;
    /* background-color: chocolate; */
    width: 135px;
    height: 44px;
    /* border-radius: 10000px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
    font-size: medium;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    cursor: pointer;
    
}

.btn-icn{
    width: 20px;
    height: 20px;

}